

body {
    margin: 0;
    margin-top: 60px;
    font-family: sans-serif;
}

#contact {
    background-color: #D6EFFF; 
}

#about  {
  box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 30px;  
  }

ul {
    list-style-type: none;
  }


header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #FED18C
}


header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
    color: #20B2AA;
}

section h2 {
    font-size: 2.5em;
    text-align: center;
}


header a {
    text-decoration: none;
    color: black;
}

#contact li {
    color: #FE654F;
}

a:link {
    color: black;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column1 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 30px;
  }
  .column1 {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 30px;
  }

  .column3 {
    background-color:rgba(254, 102, 79, 0.712); 
    margin-left: 10px; 
    margin-right: 20px; 
    padding: 40px; 
    column-width: 500px;
    float: left;
  }

  .column4 {
    background-color:rgba(254, 102, 79, 0.712); 
    margin-left: 10px; 
    margin-right: 20px; 
    padding: 40px; 
    column-width: 300px;
    float: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 10px;
  }
  
  /* Create four equal columns that floats next to each other */
  .flip-card {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .link{
      color:black;
  }

  footer{
    background-color: #FED18C;
  }


/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://images-na.ssl-images-amazon.com/images/I/71UWUPeK2uL._AC_SL1500_.jpg');
}

#about {
    background-color: #FED18C;
    padding: 50px
}

#social {
    Background-color: #D6EFFF;
}

#charity {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://www.xmple.com/wallpaper/white-polka-dots-hexagon-orange-3840x2160-c2-ffffff-ff7f50-l2-176-308-a-20-f-4.svg');

}
